@import "../../vars.css";

.parentContainer{
  height: 100%;
  width: fit-content;
  box-sizing: border-box;
}

.container{
    display:flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.nameBar{
  color: #ffebbd;
  align-items: center;
  margin: 2rem 0rem 0rem 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 525;
}

.leftCol{
    flex: 1;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0 2rem 2rem 2rem; */
    justify-content: flex-end;
    padding: 20px;

}

.rightCol{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* margin: 0 2rem 2rem 2rem; */
    padding: 20px;
}

.columnElement{
    flex:1;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    /* padding:1rem; */
    margin-top: 2rem;
}
.columnElement:last-child{
  margin-top: 2rem;
}

@media screen and (max-width: 1000px){
    .container {
        flex-direction: column; /* Stack items vertically */
      }
    
      .rightCol {
        order: -1; /* Move .rightCol above .leftCol in the stacking order */
        width: fit-content;
      }

      .leftCol{
        width: fit-content;
      }
}
