@import "../../vars.css";

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    height:100%;
    width: 100%;
    padding: 1rem;
    
}

.gridRows{
    display: flex;
    height: 100%;
    width: 100%;
}

.textBox{
    height: 100%;
    width: 100%;
    box-shadow: -5px 5px 0px 0px var(--color-bordergrey);
    /*Structural elements*/
    display: grid;
    grid-template-rows: 24px 1fr;
}

.topBarTextBox{
    height: 100%;
    width: 100%;
    background-color: var(--color-musictopbar);
    
    padding-left: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: var(--color-text);
    font: var(--font-worksans);
    font-weight: 700;
}

.topBarAbout{
    height: 100%;
    width: 100%;
    background-color: var(--color-abouttopbar);
    
    padding-left: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: var(--color-text);
    font: var(--font-worksans);
    font-weight: 700;
}


.topBarPhotoTextBox{
    height: 100%;
    width: 100%;
    background-color: var(--color-phototopbar);
    
    padding-left: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: var(--color-text);
    font: var(--font-worksans);
    font-weight: 700;
}

.contentTextBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;

    /* Need to add text styling in */

}

.contentAbout{
    background-color: white;
    /* Need to add text styling in */
}

.aboutTextBox{
    height: 100%;
    width: 60%;
    box-shadow: -5px 5px 0px 0px var(--color-bordergrey);
    /*Structural elements*/
    display: grid;
    grid-template-rows: 24px 1fr;
}

.topBarContainer{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.profilePic{
    width: 200px;
    height: 200px;
    background-color: var(--color-bordergrey);
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--color-bordergrey);
    box-shadow: -3px 3px 0px 0px var(--color-bordergrey);
    justify-content: center;
    content: fill;
}

.profilePic img {
    border-radius: 0 0 10px 10px;
    max-width: 100%;
    height: 100%;
    width: auto;
    object-fit: cover;
}


.nameButtonContainer{
    display: flex;
    padding: 3px;
    height: 20%;
    width: 100%;
}

.nameCol{
    flex:1;
    justify-content: flex-start;
    display: flex;
    color: var(--color-bordergrey);
    font-size: 20pt;
    font-weight: 600;
    
}

.buttonCol{
    flex:1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


.friendbuttonRow{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    background-color: var(--color-friendbutton);
    margin: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid var(--color-bordergrey);
    color: var(--color-bordergrey);
    box-shadow: -1px 3px 0px 0px var(--color-bordergrey);
    font-weight: 600;
    
}

.friendbuttonRow:hover{
    transition: 0.1s;
    background-color: #7fb1fd;
}

.messagebuttonRow{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    background-color: var(--color-messagebutton);
    margin: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid var(--color-bordergrey);
    color: var(--color-bordergrey);
    box-shadow: -1px 3px 0px 0px var(--color-bordergrey);
    font-weight: 600;
    text-decoration:none;
}
.messagebuttonRow:hover{
    transition: 0.3s;
    filter: brightness(90%);
}

.square{
    width: 125px;
    height:125px;
    background-color: grey;
    margin: 4px;
    
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column; /* Stack items vertically */
    }
    .content{
        flex-direction: column;
    }
    .topBarContainer{
        flex-direction: column;
    }
    .aboutTextBox{
        width: 100%;
    }
    .profilePic{
        align-items: center;
        width: 100%;
    }
    .profilePic img{
        width: 100%;
    }
    
}