@import "../../vars.css";

.container{
    display: flex;
    height: 100%;
    width: 100%;
}

.leftSide{
    display: flex;
    flex:0.5;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.rightSide{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightSide h1{
    color: var(--color-bordergrey);
}

.rightSide h4{
    color: #7CB0FF;
}



.albumCover{
    height: 150px;
    width: 150px;
    background-color: grey;
}

.playButton{
    height: fit-content;
    width: fit-content;
    padding: 10px;
}

.playButton img{
    height: 40px;
    width: 160px;
}