/* @font-face {
  font-family: 'worksans';
  src: url('src\fonts\work-sans\WorkSans-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}; */
@import "./vars.css";

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: var(--color-bg); */
}