/* @font-face {
    font-family: 'worksans';
    src: url('src\fonts\work-sans\WorkSans-Medium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
};

font-family: 'worksans', sans-serif; */

:root {
    /*Colors*/
    --color-text: #585757;
    --color-bg: #FFF9EB;
    --color-lime: #C1FFAB;
    --color-purple: #ff9dff;
    --color-bordergrey: #585757;
    /*music card*/
    --color-musiccardtopbar: #81b3ff;
    --color-musiccontent:  #FFF2C5; 

    /*profilecard div*/
    --color-profiletopbar: #C5C7FF;
    --color-searchbarorange: #FFC194;
    --color-childframebg: #f2fbff;
    --color-searchfield: #FFEF9D;

    /*profile content div*/
    --color-musictopbar: #FFC194;
    --color-phototopbar: #85FF9C;
    --color-textbox: #FFFFFF;
    --color-abouttopbar: #A9CBFF;

    --color-friendbutton: #A9CBFF;
    --color-messagebutton: #FFC194;

    /*Fonts*/
    --font-worksans: "worksans";

    /*"C:\Users\clane\Downloads\work-sans\WorkSans-Medium.otf"*/

}